/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
  }
  
  /* Preferred box-sizing value */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
  ol, ul {
    list-style: none;
  }
  
  /* For images to not be able to exceed their container */
  img {
    max-width: 100%;
  }
  
  /* Removes spacing between cells in tables */
  table {
    border-collapse: collapse;
  }
  
  /* Revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert;
  }

/* A11y */

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}

/* Typography */

html {
  font: 1rem/1.5 'Oswald', san-serif;
  color: #37ff14;
  line-height: 1.6;
}

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr{
    margin-bottom:1.5rem;
}

/* Utility Style */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

a {
  cursor: pointer;
}

a:visited {
  color: #37ff14;
}

.menu-nav a:hover,
.main-content a span:hover,
.menu-nav a:focus,
.main-content a span:focus {
  border-bottom: 2px solid #37ff14;
}

/* Layout */

body {
  background-color: #000;
  padding: 0;
  margin: 0;;
}


.wrapper {
  display: grid;
  grid-gap: 0.5rem;
}

/* Header Style */
  
header {
  background-color: #000  ;
  padding: 1rem 1rem 0.25rem;
  grid-row: 1 / 2;
  grid-column: 1 / 1;
}

.main-nav-wrapper {
  width: 100%;
  max-width: 1400px;
  padding: 0.5rem 0.5rem 0.25rem;
}

.header-items {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
}

.header-item {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.logo .logo-image {
  width: 100%;
  max-width: 150px;
  height: auto;
}
/* Page Navigation */

.mobile-menu-hamburger {
  display: none;
  visibility: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
}

.menu-nav {
  font-size: 1.3rem;
}

.menu-nav .main-nav__menu-item {
  padding: 0.5rem 1.25rem;
  align-self: center;
}

.social-bar {
  display: flex;
  gap: 0.25rem;
  border: 1px solid black;
}

.social-bar__item {
  width: 2.5rem;
  display: grid;
  place-content: center;
}

.social-bar__item:hover,
.social-bar__item:focus {
  font-size: 1.5rem;
}

.gold {
  color: #37ff14;
}


/* Main Content Style */


.main-content {
  display: flex;
  flex-flow: column nowrap;
  background-color: #000;
  grid-row: 2 / 3;
  grid-column: 1 / 1;
  padding: 1rem;
}

.main-content .container{
  width: 100%;
  max-width: 1400px;
}

.main-content-wrapper {
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 1.5rem;
  border-top: 1px solid #37ff14;
  max-width: 1200px;
}

.home-title {
  font-size: 1.5rem;
  padding: 1rem .25rem .25rem;
}

/* About Page */

.about-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 900px;
}

.about-us {
  padding: 0.25rem;
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .about-us {
    width: 75%;
  }
}

/* Carousel style */

.carousel-wrapper {
  display: grid;
  place-content: center;
  max-width: 800px;
  padding: 3rem;
  margin-bottom: 1.5rem;
}

.carousel {
  max-width: 600px;
  position: relative;
  margin-bottom: 1.5rem;
}

.carousel .carousel-item,
.carousel .carousel-item-hidden {
  display: none;
}

.carousel .carousel-item-visible {
  display: block;
  animation: fadeVisibility 1.5s;
}

.carousel .carousel-item {
  max-height: 600px;
  overflow: hidden;
}

.carousel .carousel-item img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.carousel .carousel-item .blurred-image {
  width: 100%;
  position: absolute;
  bottom: 0px;
  top: 0px;
  box-shadow: inset 0px 0px 10px 20px #000;
}

.carousel .carousel-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel-actions button {
  border-radius: 50px;
  background-color: #000;
  border: 1px solid #37ff14;
  color: #37ff14;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0rem 0.7rem 0rem;
}

.carousel .carousel-actions button#carousel-button-prev {
  margin-left: 20px;
}

.carousel .carousel-actions button#carousel-button-next {
  margin-right: 20px;   
}

@keyframes fadeVisibility {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* Team Roster Page */

.team-header-wrapper {
  display: flex;
  width: 100%;
  height: 20rem;
  background-image: url('../assets/huddle-color.jpg');
  background-size: 100% 20rem;
  color: #fff;
  /* opacity: 0.5; */
  filter: hue-rotate(90deg);
  box-shadow: inset 5px 5px 15px 13px black;
  border-radius: 15px;
}

.team-header {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 5rem;
  padding: 1rem 1.5rem 0;
  letter-spacing: -0.1rem;
  line-height: 5rem;
}

.team-roster {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-block-start: 1rem;
  padding: 0 1rem;
}

.roster-item-wrapper {
  border: 1px solid black;
  width: 30%;
}

.middle-roster {
  border-left: 1px solid #37ff14;
  border-right: 1px solid #37ff14;
}

.player-card {
  display: flex;
  flex-flow: column nowrap;
}

.player-card-wrapper {
  margin-left: 1rem;
  padding-bottom: 1rem;
}

.player-card-wrapper::before {
  background: #303030;
  content: '';
  position: absolute;
  left: calc(32px / -2);
  top: 0;
  width: 1px;
  height: 100%;
  background: #dfdfdf;
}

.player-image {
  top: 1.5rem;
  min-height: 400px;
  background-size: 500px 400px;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-attachment: relative;
  background-position: top;
  transition: all 250ms ease-out;
  display: flex;
  align-items: flex-end
  /* background-color: #FFCB05; */
}


.player-card-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.PlayerCard--headerJerseyNumber {
  font-size: 3rem;
  line-height: 3.5rem;
}

.PlayerCard--headerName {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #303030;
}

.PlayerCard--headerFirstName {
  color: #37ff14;
  font-size: 2rem;
  line-height: 2.5rem;
}

.PlayerCard--headerLastName {
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1em;
  overflow-wrap: break-word;
}

.PlayerCard--headerPosition {
  flex: 0 0 100%;
  margin-top: 1.5em;
  color: #c0c0c08c;
  text-align: left;
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
}

.PlayerCard--stats {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 40px;
  opacity: 0;
  transition: opacity 500ms ease-out;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
}

.PlayerCard--stats:hover,
.PlayerCard--stats:focus {
  opacity: 1;
}

.PlayerCard--stats .PlayerCard--statList {
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.1;
  letter-spacing: 1px;
}

.PlayerCard--stats .PlayerCard--statList li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #404040;
}

.PlayerCard--stats .PlayerCard--statBtnHolder {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 64px;
  margin-top: 16px;
}

.PlayerCard--stats .PlayerCard--statBtn {
  flex: 0 0 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

.PlayerCard--stats .PlayerCard--statBtn:nth-child(2) {
  border-left: 1px solid #404040;
}

/* Media Queries */

@media screen and (max-width: 767px) {
  .header-items {
    justify-content: space-between;
  }
  .mobile-menu-hamburger {
    display: flex;
    flex-flow: column nowrap;
    visibility: visible;
    position: relative;
    font-size: 3rem;
  }
  .hamburger-menu-nav {
    position: absolute;
    top: 100px;
    left: -50px;
    display: none;
    flex-flow: column nowrap;
    gap: 2rem;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #37ff14;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: #000;
  }

  .hamburger-menu-nav a:active {
    border-bottom: 2px solid #37ff14;
  }

  .menu-nav {
    display: none;
  }
  .social-bar-wrapper {
    display: none;
  }
  .roster-item-wrapper {
    width: 50%;
  }
}

@media screen and (max-width: 599px) {
  .roster-item-wrapper {
    width: 100%;
  }
  .PlayerCard--stats {
    padding: 1rem;
  }
  .team-header-wrapper {
    display: none;
    visibility: hidden;
  }
}

/* Footer style */

footer {
  display: flex;
  flex-flow: column nowrap;
  grid-row: 3 / 4;
  grid-column: 1 / 1;
  background-color: #000;
  padding: 1rem;
  color: #37ff14;
}

footer .container {
  width: 100%;
  max-width: 1400px;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-top: 1px solid #37ff14;
}

.contact {
  margin-bottom: 1.5rem;
  padding: 1.5rem;
}

.contact address a {
  cursor: pointer;
}

.social-media {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}




---------------------------------------------------------------------------------------------------


*,
*::after,
*::before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/* Custom Properties */

:root {
    --ff-primary: 'Oswald', san-serif;
    --ff-secondary: 'Oxygen', sans-serif;
    
    --fw-reg: 400;
    --fw-bold: 700;
    
    --clr-light: #fff;
    --clr-dark: #000;
    --clr-accent: #37ff14;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 600px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}
/* General styles */

body {
    background: var(--clr-dark);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }


/* Typography */

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


/* Layout */

main.player-bio {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    /* min-height: 100vh; */
    align-items: center;
    margin: 0 auto;
    padding: 0 1.5em;
        /* background-image: url('../assets/jojogreen.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
    /* border: 1px solid yellow; */
}

section.player-bio--intro {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 1rem;
    /* border: 1px solid yellow; */
}

section.player-bio--headline {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    margin-block-start: 1rem;
    /* border: 1px solid yellow; */
}


div.player-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-block-start: 1rem;
    /* border: 1px solid yellow; */
}

div.player-info span {
    margin-block-end: -0.375rem;
}

h1.player-info--name {
    display: flex;
    flex-flow: column nowrap;
    background-color: transparent;
    /* border: 1px solid yellow; */
}

figure {
    /* border: 1px solid yellow; */
    margin-block-start: 1rem;
}

h1.player-info--name span {
    margin-bottom: -0.625rem;
    color: var(--clr-accent);
}


p.player-intro {
    justify-self: center;
    margin-block-end: 1.5rem;
}

section.player-bio--stats {
    border: 1px solid #c4c4c4;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-block-start: 1rem;
}

div.season-avgs {
    display: flex;
    flex: 0 0 100%;
    margin: 0;
    padding: 0.2rem 0.75rem;
    line-height: 1.1;
    text-align: left;
    border-block-end: 1px solid #c4c4c4;
}

div.stats-item {
    display: flex;
    flex-flow: column;
    flex: 0 0 25%;
    margin: 1rem 0;
    padding: 0.5rem 0;
    text-align: center;
}

div.stats-item:nth-child(3),
div.stats-item:nth-child(4),
div.stats-item:nth-child(5){
    border-left: 1px solid #c4c4c4;
}


div.stats-item p {
    font-size: 1.5rem;
}

div.stats-item span {
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: 0.1em;
}

footer {
    margin-block-start: 1rem;
    padding: 1rem;
}

.player-bio--card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    margin-block-start: 5rem;
}

.PlayerCard--statList {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.1;
  letter-spacing: 1px;
}

.PlayerCard--statList li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #404040;
}


@media only screen and (min-width: 600px) {
  body {
    /* background-color: lightblue; */
    background-image: url('../assets/Jordan_image4.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
  }
  
  main.player-bio {
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 0 1.5em;
    /* background-image: url('../assets/jojogreen.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top; */
    /* border: 1px solid yellow; */
    justify-content: space-around;
}

 img.player-profile--image {
    display: none; 
 }
 
  section.player-bio--stats {
        border: 1px solid #848484;
        display: flex;
        flex-flow: column wrap;
        /* max-width: 30%; */
        max-width: 150px;
        margin-block-start: 1rem;
    }
    
    section.player-bio--stats .stats-item span:nth-child(2),
    section.player-bio--stats .season-avgs
     {
        opacity: 0.7;
        /* color: red; */
    }
  
  div.season-avgs {
    display: flex;
    flex: 0 0 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    line-height: 1.1;
    border-block-end: 1px solid #c4c4c4;
}

    div.stats-item {
        display: flex;
        flex-flow: column;
        /* flex: 0 0 25%; */
        margin: 0 1rem;
        padding: 1rem 0;
        justify-content: center;
        /* background-color: rebeccapurple; */
    }

    div.stats-item:nth-child(3),
    div.stats-item:nth-child(4),
    div.stats-item:nth-child(5){
        border-top: 1px solid #c4c4c4;
        border-left:  none;
    }

    div.stats-item p {
        font-size: 1.5rem;
        /* background-color: grey; */
        margin: 0;
        padding: 0;
    }

    div.stats-item span {
        font-size: 1rem;
        line-height: 1.1;
        letter-spacing: 0.1em;
        margin: 0;
        padding: 0;
        /* background-color: yellow; */
    }
    
    .PlayerCard--statList li {
        display: flex;
        max-width: 250px;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid #404040;
        }
    
    div.player-info {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-block-start: 1rem;
    /* border: 1px solid yellow; */
    }

    div.player-info span {
        margin-block-end: -0.375rem;
    }

    h1.player-info--name {
        display: flex;
        flex-flow: column nowrap;
        background-color: transparent;
        /* border: 1px solid yellow; */
    }

    h1.player-info--name span {
        margin-bottom: -0.625rem;
        color: var(--clr-accent);
    }


    p.player-intro {
        justify-self: center;
        margin-block-end: 1.5rem;
        /* width: 30%; */
        text-align: left;
        max-width: 30%;
        /* background-color: red; */
    }
        

    section.player-bio--headline {
        align-items:  stretch;
    }
    
    ul.PlayerCard--statList li span:nth-child(1) {
        opacity: 0.5;
    }
    
    div.player-profile--wrapper {
        display: flex;
        align-self: flex-end;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    
    article.about {
        
        min-width: 100%;
        height: 20em;
        border: 1px solid rebeccapurple;
        display: flex;
        justify-content: center;
        align-items: stretch;
        text-align: center;
        margin: 0;
        padding: 0.5rem 1rem;
    }
}

@media only screen and (min-width: 700px) {
  
}